<%- include("header"); -%>
<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio numquam,
  similique omnis amet soluta quo exercitationem ut sequi maxime assumenda! Odio
  adipisci libero totam facere quas incidunt ullam veritatis magni! Lorem, ipsum
  dolor sit amet consectetur adipisicing elit. Laudantium a, iusto nostrum ullam
  quasi reiciendis eum magni earum corporis reprehenderit, quibusdam adipisci
  rerum sed ipsum impedit quae quidem fuga. Porro.
</p>
<%- include("footer"); -%>
